<p [class.blue]="h1Style">
  home works!
</p>
<h1 [ngClass]="{
  'yellow' : h1Style,
  'large' : !h1Style

}">
  home works!
</h1>
<h1 [ngStyle]="{
  'color' : h1Style ? 'gray' : 'black',
  'font-size' : !h1Style ? '1em'  :  '3em'

}">
  home works!
</h1>
<h1 [style.color]="h1Style ? 'gray' : 'black'">
  home works!
</h1>
<button (click)="Click()">Click me!!!</button>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/5JdgHMjN-Hc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>_____________________________________________</h1>
<h2> API from reqres.io</h2>
<ul>
  <li *ngFor="let page of pages">
<app-detail page="{{page}}" [ngStyle]="{  'display' : chosenPage === page ? 'block' : 'none'}"></app-detail>
  </li>
<!-- <app-detail page="2" [ngStyle]="{  'display' : chosenPage === 2 ? 'block' : 'none'}"></app-detail>
<app-detail page="3" [ngStyle]="{  'display' : chosenPage === 3 ? 'block' : 'none'}"></app-detail>
<app-detail page="4" [ngStyle]="{  'display' : chosenPage === 4 ? 'block' : 'none'}"></app-detail> -->
</ul>
<ul class="page rounded-pill">
  <li *ngFor="let page of pages" [ngClass]="{ 'selected':chosenPage === page }" class="rounded-circle" (click)="showPage(page)"><strong>{{page}}</strong></li> 
</ul>
<!-- <div>{{max_pages.total_pages}} </div> -->