<p [class.blue]="h1Style">
  home works!
</p>
<h1 [ngClass]="{
  'yellow' : h1Style,
  'large' : !h1Style

}">
  home works!
</h1>
<h1 [ngStyle]="{
  'color' : h1Style ? 'gray' : 'black',
  'font-size' : !h1Style ? '1em'  :  '3em'

}">
  home works!
</h1>
<h1 [style.color]="h1Style ? 'gray' : 'black'">
  home works!
</h1>
<button (click)="Click()">Click me!!!</button>
<h1>_____________________________________________</h1>
<h2> API from reqres.io</h2>
<app-detail page="1" [ngStyle]="{  'display' : chosenPage === 1 ? 'block' : 'none'}"></app-detail>
<app-detail page="2" [ngStyle]="{  'display' : chosenPage === 2 ? 'block' : 'none'}"></app-detail>
<app-detail page="3" [ngStyle]="{  'display' : chosenPage === 3 ? 'block' : 'none'}"></app-detail>
<app-detail page="4" [ngStyle]="{  'display' : chosenPage === 4 ? 'block' : 'none'}"></app-detail>
<ul><span><• </span>
  <li *ngFor="let page of pages" (click)="showPage(page)">{{page}} • </li>
  <span> ...............></span>
</ul>
<app-detail></app-detail>