<div class="container text-center">
  <h1> API from reqres.io </h1>
      <div *ngFor="let page of pages" class="">
        <app-detail page="{{page}}" [ngStyle]="{ 'display' : chosenPage === page ? 'grid' : 'none'}"></app-detail>
     </div>
    <div class="mx-auto rounded-pill bg-light container">
      <ul class="list-group list-group-horizontal">
          <li *ngFor="let page of pages" [ngClass]="{ 'active':chosenPage === page }" class="rounded-circle list-group-item" (click)="showPage(page)"><strong>{{page}}</strong></li> 
      </ul>
      
    </div>
</div>