.loginForm{
    border-radius: 15px;
    padding: 20px;
    height: auto;
    width: 330px;
    border-style: outset;
}
.tp-margin {
    margin: 0 10px;
 }
 .tp-section {
    display: block ;
    align-content: left;
    align-items: left;
    height: 20px;
 } 
 .btn-outline-secondary, .btn-link{
    margin-left: auto;
    margin-right: auto;
    display: block;
}