.loginForm{
    border-radius: 15px;
    padding: 20px;
    height: auto;
    width: 330px;
    margin-top: 3em;
    border-style: outset;
}
.tp-margin {
    margin: 0 10px;
 }
 .tp-section {
    display: block ;
    height: 20px;
 } 
 .btn-outline-secondary, .btn-link{
    display: block;
}