<nav class="navbar navbar-light bg-info fixed-top">
  <span class="navbar-brand mb-0 h1 text-light" routerLink="/"><i class="fas fa-american-sign-language-interpreting"></i>{{appTitle}}</span>
  <span class="mr-auto"></span>
    <button class="btn btn-info" routerLink="/">Home</button>
    <button class="btn btn-info" routerLink="/about">About</button>
    <button class="btn btn-info" routerLink="/contact">Contact us</button>
    <button class="btn btn-info" routerLink="/login">Login</button>
</nav>